
#submit-button-login {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  cursor: pointer;
  background-color:#243D4B;
  width: 100%;
  font-size: 16px;
  border : none
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

/*=====COMMONS=====*/
form {
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin: auto
}


input {
  border: 5px solid #243D4B;
  text-align: center;
  border-radius: 20px;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

select {
  border: 5px solid #243D4B;
  text-align: center;
  border-radius: 20px;
}

a {
  border-radius: 20px;
  text-decoration: none;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  border: none;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/*=====BUTTONS=====*/
#search-button,.buy-button, #submit-button, .login-button,.register,
.remove-button, .button-dance-type, .button-city,.button-country, .edit-event-button,
.publish-button,.fav-button, #favorite-button, .venue, .name,
.music-ratio,#edit-profile-button, #fav-button-profile, #my-events-button,
#create-events-button,#submit-new-user-data, #cancel-edit-profile-button,
.remove-event-button, .edit--my-event-button,#save-changes-button,#cancel-changes-button,
.follow-button,.rate-button  {
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}
.remove-button:hover, .button-dance-type:hover, .button-city:hover,.button-country:hover,
#search-button:hover, .buy-button:hover, #log-in:hover, #submit-button:hover,
.publish-button:hover, .edit-event-button:hover,.login-button:hover, .register:hover,
#favorite-button:hover, #edit-profile-button:hover, #fav-button-profile:hover, #my-events-button:hover,
#create-events-button:hover,#submit-new-user-data:hover,  #cancel-edit-profile-button:hover,
.remove-event-button:hover, .edit--my-event-button:hover,#save-changes-button:hover,
#cancel-changes-button:hover, .follow-button:hover,.rate-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#search-button, .buy-button, #submit-button {
  padding: 5px 10px;
}
#search-button, .buy-button, #submit-button, .button-dance-type, #favorite-button,
#edit-profile-button, #fav-button-profile, #my-events-button, #create-events-button  {
  background-color: #F7BC47;
}
.login-button, .register, .remove-button, .edit-event-button, .publish-button  {
  background-color: #243D4B;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px 14px;
}
.login-button, .register, .remove-button {
  display: block;
  margin-top: 15px;
  color: #F7BC47;
}
.button-dance-type, .button-city,.button-country {
  border: none;
  width: 50%;
  padding: 8px 12px;
}
.edit-event-button, .publish-button {
  font-size: 16px;
  color: #ffffff;
}
.button-dance-type{
  color: black;
  width: 100%;
}
#favorite-button, #edit-profile-button, #fav-button-profile,
#my-events-button, #create-events-button,#submit-new-user-data,
#cancel-edit-profile-button, .remove-event-button,
.edit--my-event-button, .follow-button,.rate-button {
  padding: 5px 10px;
}
.fav-button {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: fit-content;
}

.fav-button:hover{
  transform: scale(1.1);
}
#my-events-button, #create-events-button {
  width: fit-content;
}
#cancel-edit-profile-button, .remove-event-buttonm,#cancel-changes-button {
  background-color: rgb(230, 66, 66);
  color: white;
}
#submit-new-user-data,#save-changes-button{
  background-color: lightgreen;
}

.edit--my-event-button{
  background-color: #ffaa00;
}

.follow-button{
  transition: all .5s ease-in;
}

.rate-button{
  background-color: #141633;
  color: white;
}
.unfollow {
  background-color: black;
  color: white;
}
/************IMG***********/
.error-img{
  width: 600px;
}

img {
  width: 52px;
  margin: 10px auto 0;
}

/*======EVENTS======*/
.event-container, .event-card,#event-form, .image-and-details, .time-price, .city-country, .name-fav,
.reviews-placeholder    {
  display: flex;
}
.event-container, .event-image, .remove-button, .register,
.login-button, .register, .remove-button, .name {
  width: 100%;
}
.event-card,#event-form, .fav-button, .city-country, .time-price, .name-fav  {
  background-color: white;
}
.event-card,#event-form {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.event-image,.reviews-placeholder,.name, .venue,.time, .currency,
.button-dance-type, .button-city,.button-country,.date, .time, .price, .event-card,#event-form{
  border-radius: 10px;
}
.reviews-placeholder, .time-price, .city-country, .name-fav,.fav-button{
  border: none;
}
.event-container,.event-card,#event-form {
  gap: 20px;
}
.image-and-details{
  gap: 10px;
}
.event-container {
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 80vh;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: italic;
}
.event-card,#event-form {
  flex-direction: row;
  padding: 15px;
  border: 1px solid #ddd;
  width: calc(50% - 20px);
}

.event-card-component{
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  margin: auto;
  gap: 20px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  border: 1px solid #ddd;
}

.image-and-details {
  flex-direction: column;
}
.event-image {
  height: 200px;
  object-fit: cover;
}
.reviews-placeholder {
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 190px;
  font-weight: bold;
  color: #666;
}

.price-currency, .city-country, .name-fav {
  justify-content: space-between;
  gap: 5px;
}
.music-ratio,.music-ratio.single-style,.music-ratio.three-styles,.music-ratio.two-styles,
.button-dance-type, .button-city,.button-country, .name, .time, .price,.currency, .venue,.date-time {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.time, .price, .date-time, .button-dance-type, .button-city,.button-country, .music-ratio, .venue, .name {
  background-color:#243D4B;
  color: #F7BC47;
}
.time, .price, .button-dance-type, .button-city,.button-country,.date {
  flex: 1;
  font-weight: bold;
}
.name, .venue,.time, .price, .currency{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.city-country, .time-price, .name,.venue, .music-ratio{
  padding: 10px;
}
.city-country, .time-price {
  margin: 0px;
}
.name, .venue {
  padding: 10px 15px;
}

.name-fav {
margin-bottom: -10px;;
}
.name {
  margin: auto;
}

.shop-img {
  width: 30px;
  margin-top: 0px;
}
.instagram-img {
  width: 30px;
  margin: auto;
  margin-bottom: -15px;
}
.favorited {
  transform: scale(1.1);
  animation: pop 0.3s ease-in-out;
  background-color: rgb(230, 158, 158);
}
/*=====MUSIC RATIO STYLES======*/
.music-ratio {
  margin-top: 10px;
  font-size: 14px;
}
.music-ratio.single-style {
  background-color:#243D4B;
}
.music-ratio.two-styles {
  background: linear-gradient(90deg, #F7BC47 50%, #243D4B 50%);
  color: white;
}
.music-ratio.three-styles {
  background: linear-gradient(90deg, #F7BC47 33.33%, #243D4B 33.33%, #F7BC47 33.33%);
  color: white;
}
/*************** POP ANIMATION FAV BUTTON **********/
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}
/************ ZOOM ANIMATION *********/
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.zoom-in {
  animation: zoomIn 0.5s ease-in-out;
}
